.icon
{
 font-size: 36px !important;   
 margin: 10px
}

.v-chip
{
    font-size: 12px !important;
        
}

.center
{
    display:flex;
    justify-content: center;
    margin-top: 30vh;
}


.headerAdmin
{
    background-color: green;
    height: 80px;
    display: flex;
    padding: 20px;
}

#btnLogout
{
    margin-left: 100vh;
}

#image{
    max-height: 120px;
    max-width: 150px;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;   
}

#card-image
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headButton
{
    margin-right:10px;
}


#emptyBtn {
    background-color: #D60200;
    border: #D60200 1px solid;
    color: #ffffff;
    float: right;
    border-radius: 4px;
}

#checkout {
    float: right;
}

/* .addBtn{
    
    border: 0;
    padding: 3px 10px;
    color: #ffffff !important;
    margin-left: 2px;
    border-radius: 2px;
} */

.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}

.checkout{
    display: inline-block;
}

.card
{
    padding: 10px;
}

.borders
{
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
}

.price
{
    text-decoration: line-through;
}
.row
{
   padding: 5px 5% !important;
}