.icon
{
 font-size: 36px !important;   
 margin: 10px
}

.v-chip
{
    font-size: 12px !important;
        
}

.center
{
    display:flex;
    justify-content: center;

}

.headerAdmin
{
    background-color: green;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

#btnLogout
{
    height: 50px;
   
    
}