.icon
{
 font-size: 36px !important;   
 margin: 10px
}

.v-chip
{
    font-size: 12px !important;
        
}

.center
{
    display:flex;
    justify-content: center;
    margin-top: 30vh;
}


.headerAdmin
{
    background-color: green;
    height: 80px;
    display: flex;
    padding: 20px;
}

#btnLogout
{
    margin-left: 100vh;
}

#card{
    height: 300px;
    background-size: contain;
}

.card-image img{
    height: 300px;
    background-size: cover;
    
}

.headbutton
{
    margin-right: 20px;
}


#emptyBtn {
    background-color: #D60200;
    border: #D60200 1px solid;
    color: #ffffff;
    float: right;
    border-radius: 4px;
}

#checkout {
    float: right;
}

.addBtn{
    background-color: #eb705b;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}

.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}

.checkout{
    display: inline-block;
}
