
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>




    <div id="app">
        <v-app>
            <div id="header">
                <v-card class="mx-auto overflow-hidden" height="mx-auto">
                    <v-app-bar color="deep-purple" dark>
                        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

                        <v-toolbar-title>(RubberDockLogo)</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-icon class="icon">mdi-cart</v-icon>
                        <v-icon class="icon">mdi-account</v-icon>

                    </v-app-bar>

                    <v-navigation-drawer v-model="drawer" absolute temporary>
                        <v-list nav dense>
                            <v-list-item-group v-model="group" active-class="deep-purple--text text--accent-4">
                                <v-list-item>
                                    <v-list-item-icon>
                                        <v-icon>mdi-home</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title>Home</v-list-item-title>
                                </v-list-item>

                                <v-list-item>
                                    <v-list-item-icon>
                                        <v-icon>mdi-account</v-icon>
                                    </v-list-item-icon>
                                    <v-list-item-title>Account</v-list-item-title>
                                </v-list-item>

                            </v-list-item-group>
                        </v-list>
                    </v-navigation-drawer>


                    <v-row style="padding:0 20px;">
                        <v-col md="3">

                            <v-card :loading="loading" class="mx-auto my-12" max-width="374">
                                <v-img height="250"
                                    src="https://cdn.shopify.com/s/files/1/0475/3817/products/rubber-duck_1024x.jpg?v=1566805295">
                                </v-img>


                                <v-card-title>Holy Rubber Duck</v-card-title>

                                <v-card-text>

                                    <div>Color: Yellow</div>
                                    <br>
                                    <div>This rubber duck is holy and that is fine</div>

                                    <v-row align="center" class="mx-0">


                                        <div class="my-4 subtitle-1">
                                            Price: 200 kr.
                                        </div>
                                        <v-spacer></v-spacer>
                                        <v-rating :value="4.5" color="amber" dense half-increments readonly size="12">
                                        </v-rating>

                                        <div class="grey--text ml-4">4.5 (413)</div>


                                    </v-row>


                                </v-card-text>

                                <v-divider class="mx-4"></v-divider>

                               

                                <v-card-text>
                                    <v-chip-group v-model="selection" 
                                        column>
                                        <v-chip>Rubber</v-chip>

                                        <v-chip>Hard</v-chip>

                                        <v-chip>Holy</v-chip>

                                        <v-chip>Plastic</v-chip>
                                    </v-chip-group>
                                </v-card-text>

                                <v-card-actions>
                                    <v-btn color="deep-purple lighten-2" text @click="">
                                        Add to Cart
                                    </v-btn>
                                </v-card-actions>
                            </v-card>

                        </v-col>

                    </v-row>




                </v-card>
            </div>
        </v-app>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="js/vuetify.js"></script>
</body>

</html>